Pillow==9.5
opencv-python>=4.7,<4.8
matplotlib>=3.6,<3.9
fastapi>=0.95,<0.96
python-multipart>=0.0.6
uvicorn>=0.22,<0.23
onnxruntime>=1.15
torch==1.12.1; platform_system=="Darwin"
torchvision==0.13.1; platform_system=="Darwin"
git+https://github.com/facebookresearch/segment-anything.git
--extra-index-url https://download.pytorch.org/whl/cu113; platform_system == "Linux" or platform_system=="Windows"
torch==1.12.1+cu113; platform_system=="Linux" or platform_system=="Windows"
torchvision==0.13.1+cu113; platform_system=="Linux" or platform_system=="Windows"
