.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    height: 5px;
  }
  
  .gradient-slider {
    width: 80%;
  }
  
  .color-preview {
    width: 100%;
    height: 50px;
    margin: 20px 0;
  }
  
  .hue-saturation-slider {
    width: 220px;
    margin-right: 20%;
    margin-top: 4px;

    .MuiSlider-thumb {
      width: 3px;
      height: 40px;
      border-radius: 0;
      background-color: yellow;
      border: 1px solid #000;
    }
  
    .MuiSlider-rail {
      height: 0px;
    }
    
    .MuiSlider-track {
        height: 0px;
      }
  }

  .lightness-slider {
    width: 220px;
    margin-right: 20%;
    margin-top: 4px;
    
    .MuiSlider-thumb {
      width: 35px; 
      height: 35px;
      border-radius: 50%; 
      background-color: #f0f0f0; 
      border: 5px solid #464646;

    }

    .MuiSlider-thumb.Mui-active {
        background-color: #525252; /* Cambia el color al arrastrar */
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra al arrastrar */
    }
    
    .MuiSlider-rail {
        height: 0px; /* Ajusta la altura de la barra de fondo del slider */
      }
    .MuiSlider-track {
        height: 0px; /* Quita la pista activa horizontal */
      }
  }

  .text-slider{
    margin-right: 20%;
    margin-top: 4px;
  }
