// TODO: fix component placement when window is resized

.preview-image-box {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.preview-image-box img {
    object-fit:contain;
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.upload-list {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

.MuiOutlinedInput-notchedOutline {
    border-width: 1px !important;
    border-color: rgb(255, 255, 255) !important;
}
  
.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: rgb(255, 255, 255) !important;
}