// TODO: fix component placement when window is resized

.background-full {
    flex-direction: column;
}

.image-box {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.img {
    border: 1px solid gray;
    max-height: 100%;
    max-width: 100%;
    display: block;
}