// image container
.image-box {
    display: flex;
    flex-direction: column;
    max-width: 65%;
    height:auto;
    max-height:95%;
    margin:auto;
    position: relative;
    border: 1px solid gray;
}
// base image
.image-box img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}
// layer image
.mask-img {
    object-fit: contain;
    display: block;
    position: absolute; 
    width: 100%;
    height: 100%;
}

.true-point{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    border: 1px solid white;
    z-index: 101;
}

.false-point{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid white;
    z-index: 101;
}
